@mixin cursor {
  animation: blinker 1s linear infinite;

  font-weight: bolder;
  &:before {
    content: "|";
    color: ivory;
  }
}

@mixin token {
  white-space: pre;
  font-variant-ligatures: contextual;
  &:hover {
    background-color: yellow;
  }
}

.editor:nth-child(n) {
  ::selection {
    background: none;
  }
  .token::selection {
    color: inherit;
    background: paleturquoise;
  }
}

.editor {
  width: 500px;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 4px;

  .editor-line {
    height: 22px;
    display: flex;
    flex-direction: row;
    font-size: 18px;

    .num {
      display: block;
      padding: 0px 2px;
      width: 32px;
      height: 100%;
      background-color: #303030;
      color: antiquewhite;
      border-right: 1px solid lightgray;
      font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
        monospace;
      font-size: 12px;
      text-align: right;
    }

    &:focus {
      .num {
        background-color: #505050;
        color: snow;
      }

      .content {
        background-color: #505050;
        color: antiquewhite;
      }
    }

    .content {
      padding: 1px 4px;
      display: block;
      width: 100%;
      position: relative;
      background-color: #303030;
      color: antiquewhite;
      line-height: 18px;

      .cursor-end-line {
        @include cursor();
      }

      .cursor {
        @include cursor();
        position: absolute;
        left: -2px;
      }

      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }

      .unfocused-token-selection {
        background-color: paleturquoise;
        color: snow;
      }
    }

    .token-with-cursor {
      .cursor-left {
        padding-right: 0;
      }
      .cursor-right {
        padding-left: 0;
      }
    }

    /* language vtl */
    .vtl-integer {
      @include token();
      color: tomato;
    }
    .vtl-identifier {
      @include token();
      color: tan;
    }
    .vtl-keyword {
      @include token();
      color: paleturquoise;
    }
    .vtl-function {
      @include token();
      color: goldenrod;
      font-weight: bold;
    }
    .vtl-string {
      @include token();
      color: hotpink;
    }
    .vtl-common {
      @include token();

      color: lightgreen;
    }
    /* */
  }

  .suggestions {
    display: block;
    position: fixed;
    width: auto;
    height: auto;
    padding: 2px 2px;
    border: solid lightgray 1px;
    background-color: #303030;

    .suggestion {
      width: 20em;
      margin: 1px 0;
      padding: 1px 1px;
      color: antiquewhite;
      font-size: 12px;
      font-weight: bold;
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

      &:hover {
        background-color: #505050;
        cursor: pointer;
      }
      .type {
        display: inline-block;
        width: 2em;
      }
      .valeur {
        .prefix {
          color: turquoise;
        }

        display: inline-block;
        width: 18em;
      }
    }
  }
  #reset-this-parent {
    all: initial;
    * {
      all: unset;
    }
  }
}
