@mixin cursor {
  animation: blinker 1s linear infinite;

  font-weight: bolder;
  &:before {
    content: "|";
    color: black;
  }
}

@mixin token {
}

.editor:nth-child(n) {
  ::selection {
    background: none;
  }
  .token::selection {
    color: inherit;
    background: grey;
  }
  
}

.editor {
  width: 500px;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 4px;

  .editor-line {
    height: 22px;
    display: flex;
    flex-direction: row;
    font-size: 18px;

    .num {
      display: block;
      padding: 0px 2px;
      width: 32px;
      height: 100%;
      background-color: gainsboro;
      border-right: 1px solid darkgray;
      font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
        monospace;
      font-size: 12px;
      text-align: right;
    }

    &:focus {
      .num {
        background-color: darkgray;
        color: snow;
      }

      .content {
        background-color: lightgray;
        color: snow;
      }
    }

    .content {
      padding: 1px 4px;
      display: block;
      width: 100%;
      position: relative;

      line-height: 18px;

      .cursor-end-line {
        @include cursor();
      }

      .cursor {
        @include cursor();
        position: absolute;
        left: -2px;
      }

      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }

      .unfocused-token-selection {
        background-color: darkblue;
        color: snow;
      }
    }

    /* language plus */
    .plus-variable {
      color: orangered;
    }
    .plus-symbol {
      color: limegreen;
    }
    .plus-number {
      font-weight: bolder;
      color: gray;
    }

    /* language vtl */
    .vtl-integer {
      @include token();
      color: red;
    }
    .vtl-identifier {
      @include token();
      color: green;
    }
    .vtl-keyword {
      @include token();
      color: blue;
    }
    .vtl-function {
      @include token();
      color: goldenrod;
    }
    .vtl-string {
      @include token();
      color: hotpink;
    }
    .vtl-common {
      @include token();
      color: black;
    }
    /* */
  }

  .suggestions {
    display: block;
    position: fixed;
    width: 200px;
    height: 200px;
    border: solid red 1px;
    background-color: snow;
    ul {
      list-style: none;
      padding: 0;
      margin: 0px;
    }
    .suggestion-variable {
      padding: 1px 1px;
      &:hover {
        background-color: darkslategray;
        .prefix {
          color: darkturquoise;
        }
        .token {
          color: white;
        }
      }
      .prefix {
        color: blue;
      }
      .token {
        color: gray;
      }
    }
  }
  #reset-this-parent {
    all: initial;
    * {
      all: unset;
    }
  }
}
