.centered {
	text-align: center;
}

.container {
	display: flex;
}

.tree {
	width: 50%;
}

.engine {
	width: 50%;
}

.btn-res {
	margin-top: 1em;
	text-align: center;
}

.res {
	margin-top: 1em;
	color: red;
}
