$defaultBgColor: rgb(30, 30, 30);
$bgLighterColor: rgb(90, 90, 90);
$numberWidth: 50px;
$rowHeight: 22px;
@mixin cursor {
  animation: blinker 0.5s step-end infinite;
  position: absolute;
  font-weight: bolder;
  &:before {
    content: "\007c";
    font-weight: 800;
    color: ivory;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin layer($zindex) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $zindex;
}

.panel-editor {
  display: flex;
  flex-direction: row;
  background-color: $defaultBgColor;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .row-numbers {
    width: $numberWidth;

    .row-numbers-container {
      border-right: 1px solid $bgLighterColor;
      width: 33px;
      .row {
        height: $rowHeight;
        .num {
          display: inline-block;
          color: lightslategray;
          width: 30px;
          font-size: 13px;
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          text-align: right;
        }

        .focused {
          color: antiquewhite;
        }
      }
    }
  }

  .editor-container {
    position: relative;
    width: 100%; //calc(100% - $numberWidth);

    .scroll-up-down {
      z-index: 4;
      cursor: default;
      position: relative;
      width: 12px;
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 0;
      border-left: solid $bgLighterColor 1px;
      margin: 0;

      .selection {
        z-index: 3;
        position: absolute;
        display: inline-block;
        background-color: rgba(250, 74, 215, 0.8);
        width: 4px;
        margin: auto;
        left: 0;
        right: 0;
      }

      .cursor-selection {
        z-index: 3;
        position: absolute;
        display: inline-block;
        background-color: rgba(198, 228, 31, 0.8);
        width: 12px;
        height: 2px;
      }

      .dragger {
        z-index: 4;
        position: absolute;
        display: inline-block;
        background-color: rgba(224, 218, 218, 0.4);
        width: 12px;
        &:hover {
          background-color: rgba(224, 218, 218, 0.6);
        }
      }
    }

    /* */
    .front-editor {
      cursor: text;
      @include layer(2);
      &:focus {
        outline: none;
      }
      background-color: transparent;
      .cursor {
        @include cursor();
        position: absolute;
      }
      .bloc-selection {
        position: absolute;
        height: $rowHeight;
        background-color: rgba(23, 93, 173, 0.568);
      }
    }

    /* */
    .editor {
      z-index: 0;
      height: 100%;
      .row {
        white-space: pre;
        height: $rowHeight;
        font-size: 15px;
        tab-size: 0.55em;
        font-family: Consolas, Monaco, "Courier New", Courier, monospace;
        background-color: $defaultBgColor;
        color: antiquewhite;
      }
    }
  }
}

/* */
.editor-suggestions {
  display: block;
  position: fixed;
  width: auto;
  height: auto;
  padding: 2px 2px;
  border: solid lightgray 1px;
  background-color: #303030;
  z-index: 4;

  .active {
    background-color: #505050;
  }

  .suggestion {
    width: 20em;
    margin: 1px 0;
    padding: 1px 1px;
    color: antiquewhite;
    font-size: 12px;
    font-weight: bold;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    &:hover {
      background-color: #505050;
      cursor: pointer;
    }
    .type {
      display: inline-block;
      width: 2em;
    }
    .valeur {
      .prefix {
        color: turquoise;
      }

      display: inline-block;
      width: 18em;
    }
  }
}

.row-test {
  white-space: pre;
  height: $rowHeight;
  font-size: 15px;
  tab-size: 1em;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  background-color: $defaultBgColor;
  color: antiquewhite;
}
