.workbench-display {
	background-color: rgb(30, 30, 30);
	border: 1px solid black;
	height: 350px; //calc(100% - 150px);
	overflow-x: hidden;
	overflow-y: hidden;
}

.workbench-console {
}

body {
	margin: 0;
	padding: 0;
}
