.panel-editor {
  .editor {
    .editor-line {
      .js-keyword {
        color: cadetblue;
      }

      .js-identifier {
        color: chartreuse;
      }

      .js-operator {
        color: darkgoldenrod;
        font-weight: bold;
      }

      .js-ml-comment {
        color: pink;
        font-style: italic;
      }

      .js-function {
        color: purple;
      }

      .js-string {
        color: deeppink;
      }

      .js-separator {
        color: red;
      }

      .js-decimal {
        color: dodgerblue;
      }

      .js-delimitor {
        color: orange;
        &:hover {
          background-color: yellow;
          color: black;
        }
      }
    }
  }
}
