.panel-editor {
	.editor {
		.row {
			/* language vtl */
			.vtl-integer {
				color: tomato;
			}
			.vtl-identifier {
				color: tan;
			}
			.vtl-keyword {
				color: paleturquoise;
			}
			.vtl-function {
				color: goldenrod;
				font-weight: bold;
			}
			.vtl-string {
				color: hotpink;
			}
			.vtl-float {
				color: crimson;
			}
			.vtl-common {
				color: lightgreen;
			}

			.vtl-ml-comment {
				font-style: italic;
				color: rgba(105, 223, 105, 0.753);
			}

			.vtl-sl-comment {
				font-weight: bold;
				color: rgb(123, 125, 241);
			}

			.vtl-boolean {
				color: rgb(243, 243, 168);
			}

			.vtl-operator {
				color: orchid;
			}
		}
	}
}
